body {
  background-image: url("https://st2.depositphotos.com/2727401/6828/v/380/depositphotos_68282607-stock-illustration-black-chalkboard-texture-vector-background.jpg?forcejpeg=true");
  background-size: cover;
}

.title {
  text-align: center;
  color: white;
}

.text{
  color: white;
  text-align: center;
}

.img{
  width: 250px;
  height: 200px;
  cursor: pointer;
  padding: 14px 16px;
}

.section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.main{
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
}
.left .right{
  display: flex;
}

.images{
  width: 150px;
  height: 100px;
}

.image, .imag{
  background-size: inherit;
  width: 150px;
  display: flex;
}

.square, .info{
  display: flex;
  flex-direction: row;
}
.info{
  align-items: flex-end;
}

